<!-- <h1>{{ title }}</h1>
<h1>{{ topic }}</h1>
<h1>{{ arr }}</h1>
<h1>{{ getArr() }}</h1>
<h1>{{ object.name }}</h1>
<h1>{{ object.topic }}</h1>
<h1><app-login></app-login></h1>
<h1><app-signup></app-signup></h1>
<button (click)="getEvent(topic)">click Event</button><br /> -->
<!-- <input type="text" #box (keyup)="myEvent(box.value)" /> <br /> -->
<!-- <label for="">only prints when pressed enter</label>
<input type="text" #box (keyup.enter)="myEvent(box.value)" />
<div style="background-color: skyblue" (mouseover)="myEvent('Mouse in area')">
  Mouse Events
</div> -->
<!-- We can use many events on one element -->
<!-- <div
  style="background-color: red"
  (mouseover)="myEvent('Mouse in area')"
  (mouseleave)="myEvent('Mouse out of area')"
>
  Mouse Events
</div> -->
<h1>NG Conditions</h1>
<h1 *ngIf="show=='psp' then ifBlock else elseBlock">

</h1>
<ng-template #ifBlock>
  <h1>
    If block
  </h1>
  </ng-template>
<ng-template #elseBlock>
  <h1>
    Else Block
  </h1>
</ng-template>

<ng-template [ngIf]="clr=='red'">
<h1>Red</h1>
</ng-template>
<ng-template [ngIf]="clr=='green'">
<h1>Green</h1>
</ng-template>
<ng-template [ngIf]="clr=='blue'">
<h1>Blue</h1>
</ng-template>
